---
import '../styles/global.css'
import { Toaster } from 'sonner'
import Navbar from '../components/sections/Navbar.astro'
import Layout from '../layouts/Layout.astro'

import About from '../components/sections/About.astro'
import Areas from '../components/sections/Areas.astro'
import Hero from '../components/sections/Hero.astro'
import Where from '../components/sections/Where.astro'

import Contact from '../components/sections/Contact.astro'
import FAQ from '../components/sections/FAQ.astro'
import Footer from '../components/sections/Footer.astro'
import Price from '../components/sections/Price.astro'
---

<Layout>
  <Navbar />
  <Toaster richColors position="bottom-right" client:idle />

  <main class="mt-20">
    <Hero />

    <Areas />

    <About />
    <Price />
    <Where />

    <FAQ />

    <Contact />
  </main>
  <Footer />
</Layout>
