---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js'

interface ExternalButtonProps {
	href: string
	text: string
	icon: AstroComponentFactory
	variant?: 'default' | 'success'
}

const {
	href,
	text,
	icon: Icon,
	variant = 'default',
} = Astro.props as ExternalButtonProps

const bgClass =
	variant === 'success'
		? 'bg-mint-700 border-mint-700 hover:bg-white hover:text-mint-700'
		: 'bg-moody-blue-700 border-moody-blue-700 hover:text-moody-blue-700 hover:bg-white'
---

<div class="flex w-full items-center justify-center">
  <a
    href={href}
    class:list={[
      "border-1 border-solid text-white px-6 py-3 rounded-full w-full hover:scale-105 transition-all",
      bgClass,
    ]}
    target="_blank"
    rel="noopener noreferrer"
  >
    <span class="font-semibold flex gap-2 items-center justify-center text-lg">
      {text}
      <Icon />
    </span>
  </a>
</div>
